{% extends 'templates/layout.html' %}

{% block title %}Hosted App Starter{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  <div id="content">
    <h2>Develop Windows 10 Apps on Any Platform</h2>
    <iframe src="https://player.vimeo.com/video/131323948?color=ffffff&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>With the AppX Generator, you can quickly develop a Windows 10 Hosted Application using OS X or Linux. The full WinRT API surface for Windows 10 Hosted Applications is available.</p>

    <h2>Develop for Internet Explorer without a PC</h2>
    <img src="img/remoteie.png" width="800" />
    <p>The AppX Generator includes a task that provides a secure tunnel to localhost using ngrok. Developers can use this to test their site on browsers that aren't connected to the Local Network. It also makes it easy to demo projects without deploying them.</p>
    <h2>Get Up and Running in Minutes</h2>
    <a href="https://asciinema.org/a/5ucpi22l0zcro1o2j5qn989c6" target="_blank"><img src="https://asciinema.org/a/5ucpi22l0zcro1o2j5qn989c6.png" width="800"/></a>
    <h2>Scaffold Out New Projects in Seconds</h2>
    <h2>Built with Open Source</h2>
  </div>
{% endblock %}
