{% extends 'templates/layout.html' %}

{% block title %}Hosted App Starter{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  <div id="content">
    <div>
      <h2>Develop Windows 10 Apps on Any Platform</h2>
      <iframe src="https://player.vimeo.com/video/131323948?color=ffffff&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="description">
        <p>With the AppX Generator, you can quickly develop a Windows 10 Hosted Application using OS X or Linux. The full WinRT API surface for Windows 10 Hosted Applications is available.</p>
      </div>
    </div>

    <div class="wow fadeInUp">
      <h2>Develop for Internet Explorer without a PC</h2>
      <img src="img/remoteie.png" width="800" />
      <div class="description">
        <p>The AppX Generator includes a task that provides a secure tunnel to localhost using ngrok. Developers can use this to test their site on browsers that aren't connected to the Local Network. It also makes it easy to demo projects without deploying them.</p>
      </div>
    </div>

    <div class="wow fadeInUp">
      <h2>Get Up and Running in Minutes</h2>
      <a href="https://asciinema.org/a/5ucpi22l0zcro1o2j5qn989c6" target="_blank"><img src="img/asciinema.png" width="800"/></a>
      <div class="description">
        <p>With just a single command, you can be ready to scaffold out your projects.</p>
        <div class="well well-sm">
          npm i -g yo gulp generator-appx
        </div>
      </div>
    </div>
    <div class="wow fadeInUp">
      <h2>Scaffold Out New Projects in Seconds</h2>
    </div>
    <div class="wow fadeInUp">
      <h2>Built with Open Source</h2>
    </div>
  </div>
{% endblock %}
